@font-face {
	font-family: "Montserrat";
	src: url("../../fonts/Montserrat-ExtraLight.eot");
	src: local("Montserrat ExtraLight"), local("Montserrat-ExtraLight"),
		url("../../fonts/Montserrat-ExtraLight.eot?#iefix")
			format("embedded-opentype"),
		url("../../fonts/Montserrat-ExtraLight.woff2") format("woff2"),
		url("../../fonts/Montserrat-ExtraLight.woff") format("woff"),
		url("../../fonts/Montserrat-ExtraLight.ttf") format("truetype");
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: "Montserrat";
	src: url("../../fonts/Montserrat-MediumItalic.eot");
	src: local("Montserrat Medium Italic"), local("Montserrat-MediumItalic"),
		url("../../fonts/Montserrat-MediumItalic.eot?#iefix")
			format("embedded-opentype"),
		url("../../fonts/Montserrat-MediumItalic.woff2") format("woff2"),
		url("../../fonts/Montserrat-MediumItalic.woff") format("woff"),
		url("../../fonts/Montserrat-MediumItalic.ttf") format("truetype");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: "Montserrat";
	src: url("../../fonts/Montserrat-Italic.eot");
	src: local("Montserrat Italic"), local("Montserrat-Italic"),
		url("../../fonts/Montserrat-Italic.eot?#iefix") format("embedded-opentype"),
		url("../../fonts/Montserrat-Italic.woff2") format("woff2"),
		url("../../fonts/Montserrat-Italic.woff") format("woff"),
		url("../../fonts/Montserrat-Italic.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Montserrat";
	src: url("../../fonts/Montserrat-Regular.eot");
	src: local("Montserrat Regular"), local("Montserrat-Regular"),
		url("../../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
		url("../../fonts/Montserrat-Regular.woff2") format("woff2"),
		url("../../fonts/Montserrat-Regular.woff") format("woff"),
		url("../../fonts/Montserrat-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Montserrat";
	src: url("../../fonts/Montserrat-ThinItalic.eot");
	src: local("Montserrat Thin Italic"), local("Montserrat-ThinItalic"),
		url("../../fonts/Montserrat-ThinItalic.eot?#iefix")
			format("embedded-opentype"),
		url("../../fonts/Montserrat-ThinItalic.woff2") format("woff2"),
		url("../../fonts/Montserrat-ThinItalic.woff") format("woff"),
		url("../../fonts/Montserrat-ThinItalic.ttf") format("truetype");
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: "Montserrat";
	src: url("../../fonts/Montserrat-Bold.eot");
	src: local("Montserrat Bold"), local("Montserrat-Bold"),
		url("../../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"),
		url("../../fonts/Montserrat-Bold.woff2") format("woff2"),
		url("../../fonts/Montserrat-Bold.woff") format("woff"),
		url("../../fonts/Montserrat-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Montserrat";
	src: url("../../fonts/Montserrat-Light.eot");
	src: local("Montserrat Light"), local("Montserrat-Light"),
		url("../../fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"),
		url("../../fonts/Montserrat-Light.woff2") format("woff2"),
		url("../../fonts/Montserrat-Light.woff") format("woff"),
		url("../../fonts/Montserrat-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Montserrat";
	src: url("../../fonts/Montserrat-Black.eot");
	src: local("Montserrat Black"), local("Montserrat-Black"),
		url("../../fonts/Montserrat-Black.eot?#iefix") format("embedded-opentype"),
		url("../../fonts/Montserrat-Black.woff2") format("woff2"),
		url("../../fonts/Montserrat-Black.woff") format("woff"),
		url("../../fonts/Montserrat-Black.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "Montserrat";
	src: url("../../fonts/Montserrat-Medium.eot");
	src: local("Montserrat Medium"), local("Montserrat-Medium"),
		url("../../fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"),
		url("../../fonts/Montserrat-Medium.woff2") format("woff2"),
		url("../../fonts/Montserrat-Medium.woff") format("woff"),
		url("../../fonts/Montserrat-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Montserrat";
	src: url("../../fonts/Montserrat-ExtraLightItalic.eot");
	src: local("Montserrat ExtraLight Italic"),
		local("Montserrat-ExtraLightItalic"),
		url("../../fonts/Montserrat-ExtraLightItalic.eot?#iefix")
			format("embedded-opentype"),
		url("../../fonts/Montserrat-ExtraLightItalic.woff2") format("woff2"),
		url("../../fonts/Montserrat-ExtraLightItalic.woff") format("woff"),
		url("../../fonts/Montserrat-ExtraLightItalic.ttf") format("truetype");
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: "Montserrat";
	src: url("../../fonts/Montserrat-BlackItalic.eot");
	src: local("Montserrat Black Italic"), local("Montserrat-BlackItalic"),
		url("../../fonts/Montserrat-BlackItalic.eot?#iefix")
			format("embedded-opentype"),
		url("../../fonts/Montserrat-BlackItalic.woff2") format("woff2"),
		url("../../fonts/Montserrat-BlackItalic.woff") format("woff"),
		url("../../fonts/Montserrat-BlackItalic.ttf") format("truetype");
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: "Montserrat";
	src: url("../../fonts/Montserrat-ExtraBoldItalic.eot");
	src: local("Montserrat ExtraBold Italic"), local("Montserrat-ExtraBoldItalic"),
		url("../../fonts/Montserrat-ExtraBoldItalic.eot?#iefix")
			format("embedded-opentype"),
		url("../../fonts/Montserrat-ExtraBoldItalic.woff2") format("woff2"),
		url("../../fonts/Montserrat-ExtraBoldItalic.woff") format("woff"),
		url("../../fonts/Montserrat-ExtraBoldItalic.ttf") format("truetype");
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: "Montserrat";
	src: url("../../fonts/Montserrat-SemiBoldItalic.eot");
	src: local("Montserrat SemiBold Italic"), local("Montserrat-SemiBoldItalic"),
		url("../../fonts/Montserrat-SemiBoldItalic.eot?#iefix")
			format("embedded-opentype"),
		url("../../fonts/Montserrat-SemiBoldItalic.woff2") format("woff2"),
		url("../../fonts/Montserrat-SemiBoldItalic.woff") format("woff"),
		url("../../fonts/Montserrat-SemiBoldItalic.ttf") format("truetype");
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: "Montserrat";
	src: url("../../fonts/Montserrat-ExtraBold.eot");
	src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"),
		url("../../fonts/Montserrat-ExtraBold.eot?#iefix")
			format("embedded-opentype"),
		url("../../fonts/Montserrat-ExtraBold.woff2") format("woff2"),
		url("../../fonts/Montserrat-ExtraBold.woff") format("woff"),
		url("../../fonts/Montserrat-ExtraBold.ttf") format("truetype");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "Montserrat";
	src: url("../../fonts/Montserrat-BoldItalic.eot");
	src: local("Montserrat Bold Italic"), local("Montserrat-BoldItalic"),
		url("../../fonts/Montserrat-BoldItalic.eot?#iefix")
			format("embedded-opentype"),
		url("../../fonts/Montserrat-BoldItalic.woff2") format("woff2"),
		url("../../fonts/Montserrat-BoldItalic.woff") format("woff"),
		url("../../fonts/Montserrat-BoldItalic.ttf") format("truetype");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Montserrat";
	src: url("../../fonts/Montserrat-LightItalic.eot");
	src: local("Montserrat Light Italic"), local("Montserrat-LightItalic"),
		url("../../fonts/Montserrat-LightItalic.eot?#iefix")
			format("embedded-opentype"),
		url("../../fonts/Montserrat-LightItalic.woff2") format("woff2"),
		url("../../fonts/Montserrat-LightItalic.woff") format("woff"),
		url("../../fonts/Montserrat-LightItalic.ttf") format("truetype");
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: "Montserrat";
	src: url("../../fonts/Montserrat-SemiBold.eot");
	src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"),
		url("../../fonts/Montserrat-SemiBold.eot?#iefix")
			format("embedded-opentype"),
		url("../../fonts/Montserrat-SemiBold.woff2") format("woff2"),
		url("../../fonts/Montserrat-SemiBold.woff") format("woff"),
		url("../../fonts/Montserrat-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Montserrat";
	src: url("../../fonts/Montserrat-Thin.eot");
	src: local("Montserrat Thin"), local("Montserrat-Thin"),
		url("../../fonts/Montserrat-Thin.eot?#iefix") format("embedded-opentype"),
		url("../../fonts/Montserrat-Thin.woff2") format("woff2"),
		url("../../fonts/Montserrat-Thin.woff") format("woff"),
		url("../../fonts/Montserrat-Thin.ttf") format("truetype");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "Mulish";
	src: url("../../fonts/Mulish-Black.eot");
	src: local("Mulish Black"), local("Mulish-Black"),
		url("../../fonts/Mulish-Black.eot?#iefix") format("embedded-opentype"),
		url("../../fonts/Mulish-Black.woff2") format("woff2"),
		url("../../fonts/Mulish-Black.woff") format("woff"),
		url("../../fonts/Mulish-Black.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "Mulish";
	src: url("../../fonts/Mulish-BlackItalic.eot");
	src: local("Mulish Black Italic"), local("Mulish-BlackItalic"),
		url("../../fonts/Mulish-BlackItalic.eot?#iefix") format("embedded-opentype"),
		url("../../fonts/Mulish-BlackItalic.woff2") format("woff2"),
		url("../../fonts/Mulish-BlackItalic.woff") format("woff"),
		url("../../fonts/Mulish-BlackItalic.ttf") format("truetype");
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: "Mulish";
	src: url("../../fonts/Mulish-ExtraBoldItalic.eot");
	src: local("Mulish ExtraBold Italic"), local("Mulish-ExtraBoldItalic"),
		url("../../fonts/Mulish-ExtraBoldItalic.eot?#iefix")
			format("embedded-opentype"),
		url("../../fonts/Mulish-ExtraBoldItalic.woff2") format("woff2"),
		url("../../fonts/Mulish-ExtraBoldItalic.woff") format("woff"),
		url("../../fonts/Mulish-ExtraBoldItalic.ttf") format("truetype");
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: "Mulish";
	src: url("../../fonts/Mulish-MediumItalic.eot");
	src: local("Mulish Medium Italic"), local("Mulish-MediumItalic"),
		url("../../fonts/Mulish-MediumItalic.eot?#iefix")
			format("embedded-opentype"),
		url("../../fonts/Mulish-MediumItalic.woff2") format("woff2"),
		url("../../fonts/Mulish-MediumItalic.woff") format("woff"),
		url("../../fonts/Mulish-MediumItalic.ttf") format("truetype");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: "Mulish";
	src: url("../../fonts/Mulish-Medium.eot");
	src: local("Mulish Medium"), local("Mulish-Medium"),
		url("../../fonts/Mulish-Medium.eot?#iefix") format("embedded-opentype"),
		url("../../fonts/Mulish-Medium.woff2") format("woff2"),
		url("../../fonts/Mulish-Medium.woff") format("woff"),
		url("../../fonts/Mulish-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Mulish";
	src: url("../../fonts/Mulish-SemiBoldItalic.eot");
	src: local("Mulish SemiBold Italic"), local("Mulish-SemiBoldItalic"),
		url("../../fonts/Mulish-SemiBoldItalic.eot?#iefix")
			format("embedded-opentype"),
		url("../../fonts/Mulish-SemiBoldItalic.woff2") format("woff2"),
		url("../../fonts/Mulish-SemiBoldItalic.woff") format("woff"),
		url("../../fonts/Mulish-SemiBoldItalic.ttf") format("truetype");
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: "Mulish";
	src: url("../../fonts/Mulish-BoldItalic.eot");
	src: local("Mulish Bold Italic"), local("Mulish-BoldItalic"),
		url("../../fonts/Mulish-BoldItalic.eot?#iefix") format("embedded-opentype"),
		url("../../fonts/Mulish-BoldItalic.woff2") format("woff2"),
		url("../../fonts/Mulish-BoldItalic.woff") format("woff"),
		url("../../fonts/Mulish-BoldItalic.ttf") format("truetype");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Mulish";
	src: url("../../fonts/Mulish-ExtraBold.eot");
	src: local("Mulish ExtraBold"), local("Mulish-ExtraBold"),
		url("../../fonts/Mulish-ExtraBold.eot?#iefix") format("embedded-opentype"),
		url("../../fonts/Mulish-ExtraBold.woff2") format("woff2"),
		url("../../fonts/Mulish-ExtraBold.woff") format("woff"),
		url("../../fonts/Mulish-ExtraBold.ttf") format("truetype");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "Mulish";
	src: url("../../fonts/Mulish-LightItalic.eot");
	src: local("Mulish Light Italic"), local("Mulish-LightItalic"),
		url("../../fonts/Mulish-LightItalic.eot?#iefix") format("embedded-opentype"),
		url("../../fonts/Mulish-LightItalic.woff2") format("woff2"),
		url("../../fonts/Mulish-LightItalic.woff") format("woff"),
		url("../../fonts/Mulish-LightItalic.ttf") format("truetype");
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: "Mulish";
	src: url("../../fonts/Mulish-Light.eot");
	src: local("Mulish Light"), local("Mulish-Light"),
		url("../../fonts/Mulish-Light.eot?#iefix") format("embedded-opentype"),
		url("../../fonts/Mulish-Light.woff2") format("woff2"),
		url("../../fonts/Mulish-Light.woff") format("woff"),
		url("../../fonts/Mulish-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Mulish";
	src: url("../../fonts/Mulish-Bold.eot");
	src: local("Mulish Bold"), local("Mulish-Bold"),
		url("../../fonts/Mulish-Bold.eot?#iefix") format("embedded-opentype"),
		url("../../fonts/Mulish-Bold.woff2") format("woff2"),
		url("../../fonts/Mulish-Bold.woff") format("woff"),
		url("../../fonts/Mulish-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Mulish";
	src: url("../../fonts/Mulish-ExtraLightItalic.eot");
	src: local("Mulish ExtraLight Italic"), local("Mulish-ExtraLightItalic"),
		url("../../fonts/Mulish-ExtraLightItalic.eot?#iefix")
			format("embedded-opentype"),
		url("../../fonts/Mulish-ExtraLightItalic.woff2") format("woff2"),
		url("../../fonts/Mulish-ExtraLightItalic.woff") format("woff"),
		url("../../fonts/Mulish-ExtraLightItalic.ttf") format("truetype");
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: "Mulish";
	src: url("../../fonts/Mulish-Regular.eot");
	src: local("Mulish Regular"), local("Mulish-Regular"),
		url("../../fonts/Mulish-Regular.eot?#iefix") format("embedded-opentype"),
		url("../../fonts/Mulish-Regular.woff2") format("woff2"),
		url("../../fonts/Mulish-Regular.woff") format("woff"),
		url("../../fonts/Mulish-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Mulish";
	src: url("../../fonts/Mulish-ExtraLight.eot");
	src: local("Mulish ExtraLight"), local("Mulish-ExtraLight"),
		url("../../fonts/Mulish-ExtraLight.eot?#iefix") format("embedded-opentype"),
		url("../../fonts/Mulish-ExtraLight.woff2") format("woff2"),
		url("../../fonts/Mulish-ExtraLight.woff") format("woff"),
		url("../../fonts/Mulish-ExtraLight.ttf") format("truetype");
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: "Mulish";
	src: url("../../fonts/Mulish-Italic.eot");
	src: local("Mulish Italic"), local("Mulish-Italic"),
		url("../../fonts/Mulish-Italic.eot?#iefix") format("embedded-opentype"),
		url("../../fonts/Mulish-Italic.woff2") format("woff2"),
		url("../../fonts/Mulish-Italic.woff") format("woff"),
		url("../../fonts/Mulish-Italic.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Mulish";
	src: url("../../fonts/Mulish-SemiBold.eot");
	src: local("Mulish SemiBold"), local("Mulish-SemiBold"),
		url("../../fonts/Mulish-SemiBold.eot?#iefix") format("embedded-opentype"),
		url("../../fonts/Mulish-SemiBold.woff2") format("woff2"),
		url("../../fonts/Mulish-SemiBold.woff") format("woff"),
		url("../../fonts/Mulish-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}
